{% extends 'base.html' %} {% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Notes and Uploads</h1>
<ul class="list-group list-group-flash" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">{{ note.data }}
        <button type="button" class="closse" onclick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST" enctype="multipart/form-data">
    <textarea name="notes" id="notes" class = "form-control" required></textarea>
    <br />
    <div align="center">
      <input type="file" id="file" name="csv_file" accept=".csv" required />
    </div>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Note and Upload Files</button>
    </div>
  </form>


{% endblock %}